<h1>hello world</h1>

<form action="/store">
	<button>Browse</button>
</form>

<form action="">
	<label for="">Email</label>
	<input name="email" type="text">
	<label for="">Password</label>
	<input name="password" type="password">
</form>