<div class="box">
	<div class="main_title_container">
		<h1 class="main_title">Stealys Safe Place</h1>
	</div>

	<div class="browse_container">
		<a class="browse" href="/store">Browse Store</a>
	</div>

</div>