<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stealys Safe Place</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <%= yield %>

</body>
</html>