<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Stealys Safe Place</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/main.css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</head>
<body>
	<nav>
		<% if logged_in? %>
			<p><%= current_user.name %></p>
		<% end %>
		<form action="/session" method="post">
			<input type="hidden" name="_method" value="delete">
			<button>Logout</button>
		</form>
	</nav>
	<%= yield %>

</body>
</html>