<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Stealys Safe Place</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
	<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/main.css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<% if request.path_info != "/" %>
			<nav class="navbar navbar-light bg-faded">
				<a href="/">
					<h1 class="nav_title">Stealys Safe Place</h1>
				</a>
				<% if logged_in? %>
					<div class="nav-item cart">
						<a href="/cart">
							<i class="fa fa-shopping-cart fa-2x"></i>
							<div class="cart_amount_container">
								(<span id="cartAmount"></span>)
							</div>
						</a>
					</div>
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"><%= current_user.name %></a>
						<div class="dropdown-menu">
							<form class="dropdown-item" action="/session" method="post">
								<input type="hidden" name="_method" value="delete">
								<button>Logout</button>
							</form>								
							</li>
						</div>
					</div>
				<% else %>
					<a class="layout_login" href="/users/login">Login</a>
				<% end %>
			</nav>
		<% end %>
	</header>

	<%= yield %>

	<footer></footer>
	<script src="/javascripts/application.js"></script>
</body>
</html>