<div class="login_container">
	<h2>Customer Login</h2>
	<form class="login" action="/session" method="post">
		<label for="">Email</label>
		<input name="email" type="text">
		<label for="">Password</label>
		<input name="password" type="password">
		<button class="login_button">Login</button>
	</form>

	<form action="/users/new">
		<button>Create New User</button>
	</form>
</div>