<h2 class="login_header">Customer Login</h2>
<div class="login_container">
	<form class="login_form" action="/session" method="post">
		<label for="">Email</label>
		<input name="email" type="text">
		<label for="">Password</label>
		<input name="password" type="password">
		<button class="login_button">Login</button>
	</form>

	<form class="create_user" action="/users/new">
		<button>Create New User</button>
	</form>

	<div class="login_error">
		<% if @error %>
			<h3><%= @error %></h3>
		<% end %>
	</div>
</div>