<form class="back_to_store" action="/store">
	<button>Back to Store</button>
</form>

<h1 class="page_title">Order Success!</h1>

<div class="success_header">
	<img src="/images/stealy_kidnap.png" alt="">
	<p class="speech-bubble-right">Thanks for shopping! See you next time.</p>
</div>
