<div class="store_header">
	<img src="/images/stealy.png" alt="">
	<h1>Store</h1>
</div>

<!-- <ul class="inventory_list"> -->
<div class="row">
	<% @inventory_list.each do |item| %>
		<!-- <li> -->
		<div class="col-md-3 store_item_container">
			<div class="store_item_border">
			<a class="store_item" href="/items/<%= item.id %>">
				<img src="<%= item.image_url%>" alt="">
				<div class="store_item_details">
					<span class="name"><%= item.name %></span>
					<span class="price"><%= item.price %></span>
				</div>
			</a>
			</div>
		</div>
		<!-- </li> -->
	<% end %>
</div>
<!-- </ul> -->