<h1 class="page_title">Store</h1>
<div class="store_header">
	<p class="speech-bubble">Now we're in the quiet safe room, let's look at all the stuff we got!</p>
	<img src="/images/stealy.png" alt="">
</div>

<div class="row">
	<% @inventory_list.each do |item| %>
		<div class="col-md-3 store_item_container">
			<div class="store_item_border">
			<a class="store_item" href="/items/<%= item.id %>">
				<img src="<%= item.image_url%>" alt="">
				<div class="store_item_details">
					<span class="name"><%= item.name %></span>
					<span class="price"><%= item.price %> Schmeckles</span>
				</div>
			</a>
			</div>
		</div>
	<% end %>
</div>
