<h1>Store</h1>

<ul class="inventory_list">
	<% @inventory_list.each do |item| %>
		<li>
			<a href="/items/<%= item.id %>">
				<img src="<%= item.image_url%>" alt="">
				<%= item.name %>
			</a>
		</li>
	<% end %>
</ul>