<div class="new_user_container">
	<div class="new_user_inner_container">
		<h1 class="new_user_header page_title">Create New User</h1>
		<form class="new_user_form" action="/users/create" method="post">
			<label for="">Name</label>
			<input name="name" type="text">
			<label for="">Email</label>
			<input name="email" type="text">
			<label for="">Password</label>
			<input name="password" type="password">
			<button class="new_user_create_button">Create User</button>
		</form>
	</div>
	<img src="/images/mr_stealy.png" alt="">
</div>
<div class="new_user_message">
	<% if @login_error_messages %>
		<% @login_error_messages.each do |error| %>
			<h1><%= error %></h1>
		<% end %>
	<% end %>
</div>
