/***********/
/* GENERAL */
/***********/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Katanf';
	src: url('../fonts/Katanf.ttf') format('truetype');
	font-weight: 300;
}

body {
	height: 100%;
	margin: 0;
}

a:hover {
	text-decoration: none;
}

/*******/
/* NAV */
/*******/

nav {
	background-color: beige;
	height: 50px;
}

.navbar {
	justify-content: flex-end;
}

.dropdown-menu.show {
	min-width: 100%;
}

.dropdown-item {
	text-align: center;
	padding: 0;
}

.cart .fa-shopping-cart {
	
}

.cart .cart_amount_container {
	display: inline-block;
	width: 20px;
}

#cartAmount {
	width: 20px;
}

/*********/
/* INDEX */
/*********/

.box_container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: url('https://i.ytimg.com/vi/34WL_07WEIs/maxresdefault.jpg') center center no-repeat;
	background-size: cover;

}

.main_title_container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_title {
	font-family: 'Katanf', sans-serif;
	font-size: 70px;
	font-weight: 400;
	box-shadow: 0 0 8px 8px darkorange;
	padding: 20px;
	background-color: #4078a5;
	color: #ffdb4d;
	-webkit-text-stroke: 2px #b32d00;
}

.browse_container {
	flex-grow: 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 100px;

}

.browse {
	font-family: 'Katanf', sans-serif;
	color: #ffdb4d;
	-webkit-text-stroke: 1px #b32d00;
	font-size: 50px;
	padding-left: 20px;
	padding-right: 20px;
	transition: .5s;
}

.browse:hover {
	color: #ffdb4d;
	background-color: #4078a5;
	transition: .5s;
}

/*********/
/* MODAL */
/*********/

#modalMessage {
	text-transform: capitalize;
}

/*********/
/* STORE */
/*********/

.row {
	padding: 0 20px;
	margin: 50px 10px;
}

.store_item_container {
	display: flex;
	justify-content: center;
	padding: 0;
}

.store_item_container:hover .store_item_border {
	box-shadow: 8px 8px 8px 1px black;
	transition: .25s;
	background-color: lightblue;
}

.store_item_border {
	margin: 5px;
	width: 100%;
	transition: 0s;
}

.store_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

.store_item img {
	width: 225px;
	height: 275px;
}

.store_item_details {
	display: flex;
	flex-direction: column;
	background-color: lightgrey;
	width: 225px;
}

.store_item_details .name {
	text-transform: capitalize;
}

/*********/
/* LOGIN */
/*********/

.login_container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 2;
}

.login {
	display: flex;
	flex-direction: column;
}

/*************/
/* INVENTORY */
/*************/

.inventory_list {
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.inventory_list li {
	list-style: none;
	border: 1px solid black;
	width: 24%;
}

.inventory_list li a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

.inventory_list li a img {
	width: 200px;
}

/********/
/* ITEM */
/********/

#cartModal {
	top: 25%;
}

.item_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.item {
	display: flex;
	width: 100%;
}

.item_details {
	margin-left: 50px;
	flex-grow: 1;
}

.item h1 {
	text-transform: capitalize;
}

.item img {
	width: 300px;
	height: 300px;
}

.reviews_container {
	width: 100%;
}


