/***********/
/* GENERAL */
/***********/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Katanf';
	src: url('../fonts/Katanf.ttf') format('truetype');
	font-weight: 300;
}

body {
	height: 100%;
	margin: 0;
}

/*******/
/* NAV */
/*******/

nav {
	background-color: beige;
	height: 50px;
}

.dropdown-menu.show {
	min-width: 100%;
}

.dropdown-item {
	text-align: center;
	padding: 0;
}

/*********/
/* INDEX */
/*********/

.box {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.main_title {
	font-family: 'Katanf', sans-serif;
	font-size: 60px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index_container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 2;
}

.login {
	display: flex;
	flex-direction: column;
}

/*************/
/* INVENTORY */
/*************/

.inventory_list {
	padding: 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.inventory_list li {
	list-style: none;

}

.inventory_list li a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

.inventory_list li a img {
	width: 200px;
}

/********/
/* ITEM */
/********/

#cartModal {
	top: 25%;
}

.item img {
	width: 200px;
}
